<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Dutch Treat: @ViewBag.Title</title>
</head>
<body>
    <header>Welcome to Dutch Treat</header>
    <section>
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer>Copyright 2018 Viet Anh</footer>
</body>
</html>